<h1>Details for <%= @song.title %></h1>
<img src = <%= @song.album_art %>>
<p>Artist: <%= @song.artist %></p>
<p>Album: <%= @song.album %></p>
<p>Mood: <%= @song.song_mood %></p>
<p>Posted on: <%= @song.posted_on %></p>
<p><a href = <%= @song.listen %>>Listen Now!</a></p>